---
layout: default
title: Lesson Categories
---


  <h1 class="display-2 page-header">Tags</h1>    
  

<!--   {% capture tags %}
    {% for tag in site.tags %}
      {{ tag[0] }}
    {% endfor %}
  {% endcapture %}
  {% assign sortedtags = tags | split:' ' | sort %}

  {% for tag in sortedtags %}
    <h2 id="{{ tag }}"><a href="{{ site.baseurl }}/tags/{{ tag }}.html">{{ tag }}</a></h2>

  {% endfor %} -->

<div class="card-deck">
  {% for tag in sortedtags %}
        <div class="card">
        <a href="{{ site.baseurl }}/tags/{{ tag }}.html">
        <!-- 
        When I have finalized the tag categories, 
        save the each image with its tag name <TAG NAME>
        and just change the src attribute in the image tag below to the following:
        src="{{ site.baseurl }}/images/{{ tag }}.jpeg"
         -->
          <img class="card-img-top" src="{{ site.baseurl }}/images/desert2.jpeg" alt="Card image for tag category">
          <div class="card-img-overlay">
            <h1 class="card-title">{{ tag }}</h1>
          </div>
        </a>
        </div>
  {% endfor %}
</div>  

     <!--  <div class="card-deck">
        
        {% for post in site.posts %}
          <div class="card">
            <img class="card-img-top" src="{{ site.baseurl }}/images/desert2.jpeg" alt="stock desert photo">

            <div class="card-block">
              <h4 class="card-title">{{ post.title }}</h4>
              <h6 class="card-subtitle text-muted"> {{ post.date | date: "%b %-d, %Y" }}</h6>
              <p class="card-text">{{ post.excerpt }}</p>
              <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">Open</a>
            </div>
          </div>
        {% endfor %}
        
      </div> -->
