.splash-page {
  .header {
    font-family: 'Playfair Display SC', serif;
    font-size: 60px;
    text-align: center;
  }
  .image-div {
    max-width: 60%;
    position: relative;
  }
  .link {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Playfair Display SC', serif;
    font-size: 40px;
    color: #fff;
    text-shadow: 1px 1px 15px black;
  }
  .link:hover {
    text-decoration: none;
  }
}

a.page-link-custom {
  color: black;
  border: none;
  float: none;
  &:hover {
    background-color: none;
  }
  &:visited {
    color: black;
  }
}

.card {
  margin: 0 auto .75rem;
  max-width: 600px;
  .card-img-top {
    object-fit: cover;
    height: 275px;
    width: 100%;
  }
}

.lessons-page {
  .display-2 {
    text-align: center;
  }
}

