.splash-page {
  .cover-heading {
    font-family: 'Playfair Display SC', serif;
    font-size: 70px;
    // text-align: center;
  }
  .image-div {
    // max-width: 60%;
    // position: relative;
  }
  .link {
    // position: absolute;
    // top: 85%;
    // left: 50%;
    // transform: translateX(-50%);
    font-family: 'Playfair Display SC', serif;
    text-shadow: none;
    font-size: 20px;
    // color: #fff;
    // text-shadow: 1px 1px 15px black;
  }
  .link:hover {
    text-decoration: none;
  }
}

a.page-link-custom {
  color: black;
  border: none;
  float: none;
  &:hover {
    background-color: none;
  }
  &:visited {
    color: black;
  }
}

.card-deck {
  margin: 0;
}

.card {
  margin: .75rem auto;
  // max-width: 600px;
  @media (min-width: 1210px) {
    min-width: 23.1%;
    max-width: 23.2%; 
  }
  @media (max-width: 1200px) {
    min-width: 30%;
    max-width: 31%; 
  }
  @media (max-width: 940px) {
    min-width: 46%;
    max-width: 47%;
  }
  @media (max-width: 720px) {
    min-width: 47%;
    max-width: 100%;
  }

  .card-img-top {
    object-fit: cover;
    height: 275px;
    width: 100%;
  }
}

.lessons-page {
  .display-2 {
    text-align: center;
  }
}

.embed.video.YouTube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.embed.video.YouTube iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

// .card-deck {
//   display: flex;
//   justify-content: flex-start;
//   flex-flow: row wrap;
//   align-items: stretch;
// }

// .card-deck .card {
//   display: block;
//   flex-basis: 33.3%;
// }



