<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="cover-page-custom">

    {% include splash-header.html %}

    


    <div class="site-wrapper splash-page">

      <div class="site-wrapper-inner">

        <div class="cover-container">



          <div class="inner cover">
            <h1 class="cover-heading">Unearth Israel</h1>
            <p class="lead">Discover life in the New Testament through maps, texts and videos. Gain context about the world of Jesus and the apostles in a casual, group-led survey of the 1st century Judean world.</p>
            <p class="lead">
              <a href="{{ site.baseurl }}/lessons_home.html" class="btn btn-secondary page-link-custom link">Enter</a>
            </p>


        </div>

      </div>

    </div>

      

      <div class="">
        {{ content }}
      </div>
    </div>



    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  </body>

</html>
