<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include splash-header.html %}

    <div class="splash-page container">
      <h1 class="page-heading header">Unearth Israel</h1>

      <div class="image-div center-block">
        <img src="{{ site.baseurl }}/images/desert1.jpeg" alt="picure of jordan desert" class="img-circle img-fluid">
        <a class="link" href="{{ site.baseurl }}/lessons_home.html">Enter</a>
      </div>
      

      <div class="">
        {{ content }}
      </div>
    </div>



    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  </body>

</html>
